*{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content:center ;
    font-size: 1em;


}

.wrapbox{
    width: 100%;
    max-width: 600px;
    border: 1px solid #000;
    padding: 3em 0;
    border-radius: 8px;
    margin-top: 2em;
}
.title{
    font-size: 3rem;
    text-align: center;
}
.inputbox{
    text-align: center;
}
.inputbox input {
    padding: 0.5em 0.2em ;
    margin-right: 1em ;
}

.listbox{
    text-align: center;
    padding: 2em;
}

.listbox li {
    list-style: none;

    display: inline-block;
}